 <!-- statics begin -->
 <div class="statics">
    <img src="assets/img/statics/statics-bg.png" alt="" class="shape">
    <div class="container">
          <div class="part-statics">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-static">
                  <div class="part-img">
                    <img src="assets/img/statics/icon-1.png" alt="">
                  </div>
                  <div class="part-text">
                    <span class="number">14,202</span>
                    <h4 class="title">Total Profit</h4>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-static">
                  <div class="part-img">
                    <img src="assets/img/statics/icon-2.png" alt="">
                  </div>
                  <div class="part-text">
                    <span class="number">56.7%</span>
                    <h4 class="title">Avr. Hit Rate</h4>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-static">
                  <div class="part-img">
                    <img src="assets/img/statics/icon-3.png" alt="">
                  </div>
                  <div class="part-text">
                    <span class="number">120.2%</span>
                    <h4 class="title">Avarage Roi</h4>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-static">
                  <div class="part-img">
                    <img src="assets/img/statics/icon-4.png" alt="">
                  </div>
                  <div class="part-text">
                    <span class="number">7500</span>
                    <h4 class="title">Total Tipster</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <!-- statics end -->