<!-- about begin -->
<div class="about">
    <img src="assets/img/banner-shape.png" alt="" class="banner-shape">
    <img src="assets/img/banner-shape.png" alt="" class="banner-shape">
    <div class="container">
      <div class="row justify-content-xl-between justify-content-lg-between justify-content-md-center">
        <div class="col-xl-6 col-lg-7 col-md-9">
          <div class="part-text">
            <h4 class="subtitle">Know About Us</h4>
            <h2>Get profit from our Tipster </h2>
            <p>We believe that Betipter is the most extensive betting platform available for all kind of sports bettors, who are really wanting to bet on online betting site. We’ve built tools that help provide responsibility to your betting decisions.</p><p>We've highlighted your personal strengths and weaknesses, as well as providing knowledgeable tipsters that would compliment your existing betting portfolio.</p>
            <a href="#0" class="learn-more-btn">Learn More</a>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5">
          <div class="part-img">
            <img src="assets/img/about.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about end -->