 <!-- how it works begin -->
 <div class="how-it-works">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9 col-md-10">
          <div class="section-title">
            <h4 class="sub-title">
              How It works
            </h4>
            <h2>Get Started with Easiest Steps</h2>
            <p>Get probable winning tips from professional betting tipsters across  all sports<br/>
              and offers from leading bookmakers! See how it works!</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-sm-9 col-md-6">
          <div class="single-process">
            <div class="part-img">
              <img src="assets/img/process-1.png" alt="">
            </div>
            <div class="part-text">
              <h3 class="title"><span class="number"> 01.</span> Find your tipster</h3>
              <p>Explore thousands of exprienced tipsters with verified picks and statistics.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-9 col-md-6">
          <div class="single-process">
            <div class="part-img">
              <img src="assets/img/process-2.png" alt="">
            </div>
            <div class="part-text">
              <h3 class="title"><span class="number"> 02.</span> Get your tips via email</h3>
              <p>Select your tipsters and subscribe to get betting tips on your email!</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-9 col-md-6">
          <div class="single-process">
            <div class="part-img">
              <img src="assets/img/process-3.png" alt="">
            </div>
            <div class="part-text">
              <h3 class="title"><span class="number"> 03.</span> Place a bet & win</h3>
              <p>When you receive a tip, open your favourite bookmaker's website and place the bet.</p>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- how it works end -->