 <!-- blog begin -->
 <div class="blog">
    <img src="assets/img/banner-shape.png" alt="" class="banner-shape">
    <img src="assets/img/banner-shape.png" alt="" class="banner-shape">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-8 col-md-9">
            <div class="section-title">
              <h4 class="sub-title">
                Our Latest Blogs
              </h4>
              <h2>Read our amazing tips advise</h2>
              <p>Get probable winning tips from professional betting tipsters across  all sports<br/>
                and offers from leading bookmakers! See how it works!</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog">
                    <div class="part-img">
                        <img src="assets/img/blog-1.jpg" alt="">
                        <a href="#" class="view-btn2"><i class="far fa-eye"></i></a>
                        <div class="post-date">
                            <span class="date">16</span>
                            <span class="month">Dec</span>
                        </div>
                    </div>
                    <div class="part-text">
                        <a href="#" class="title">How could the Premier League resume?</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sint esse vel atque asperiores eligendi vero blanditiis,</p>
                      <a href="#" class="share-btn"><i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog">
                    <div class="part-img">
                        <img src="assets/img/blog-2.jpg" alt="">
                        <a href="#" class="view-btn2"><i class="far fa-eye"></i></a>
                        <div class="post-date">
                            <span class="date">26</span>
                            <span class="month">JAn</span>
                        </div>
                    </div>
                    <div class="part-text">
                        <a href="#" class="title">When coronavirus stops your league</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloribus aliquid nam temporibus aut?</p>
                        <a href="#" class="share-btn"><i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-8">
                <div class="single-sidebar">
                    <div class="popular-news">
                        <div class="single-post">
                            <div>
                                <div class="part-img">
                                    <img src="assets/img/popular-news-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="part-text">
                                <a href="#">How could the Premier League resume?</a>
                                <div class="time">
                                  <span class="date">29-08-1995</span>
                                  <span class="clock">12:00 am</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <div>
                                <div class="part-img">
                                    <img src="assets/img/popular-news-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="part-text">
                                <a href="#">How could the Premier League resume?</a>
                                <div class="time">
                                  <span class="date">29-08-1995</span>
                                  <span class="clock">12:00 am</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <div>
                                <div class="part-img">
                                    <img src="assets/img/popular-news-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="part-text">
                                <a href="#">How could the Premier League resume?</a>
                                <div class="time">
                                  <span class="date">29-08-1995</span>
                                  <span class="clock">12:00 am</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="vew-more-news bet-btn bet-btn-base">
                <i class="fas fa-redo"></i> See More News
            </a>
        </div>
    </div>
  </div>
  <!-- blog end -->