<!-- testimonial begin -->
<div class="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-sm-10">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="single-testimonial">
                        <div class="part-img">
                          <div class="part-pic">
                            <img src="assets/img/testimonial/comment-user-2.jpg" alt="">
                          </div>
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="part-img">
                          <div class="part-pic">
                            <img src="assets/img/testimonial/comment-user-2.jpg" alt="">
                          </div>
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="part-img">
                            
                          <div class="part-pic">
                            <img src="assets/img/testimonial/comment-user-3.jpg" alt="">
                          </div>
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- testimonial end -->